[submodule "services/assignment-gen"]
	path = services/assignment-gen
	url = https://github.com/studojo/assignment-gen.git
[submodule "services/assignment-gen-worker"]
	path = services/assignment-gen-worker
	url = https://github.com/studojo/assignment-gen-worker.git
[submodule "services/control-plane"]
	path = services/control-plane
	url = https://github.com/studojo/control-plane.git
[submodule "services/resume-svc"]
	path = services/resume-svc
	url = https://github.com/studojo/resume-svc.git
[submodule "services/resume-worker"]
	path = services/resume-worker
	url = https://github.com/studojo/resume-worker.git
[submodule "admin-panel"]
	path = apps/admin-panel
	url = https://github.com/studojo/admin-panel.git
[submodule "apps/maverick"]
	path = apps/maverick
	url = https://github.com/studojo/maverick.git
[submodule "apps/partner-panel"]
	path = apps/partner-panel
	url = https://github.com/studojo/partner-panel.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/studojo/frontend.git
[submodule "services/humanizer-svc"]
	path = services/humanizer-svc
	url = https://github.com/studojo/humanizer-svc.git
[submodule "services/humanizer-worker"]
	path = services/humanizer-worker
	url = https://github.com/studojo/humanizer-worker.git
